---
title: Scaling a Deployment
owner: Partners
---

##<a id='Scaling Workers'></a>Scaling Workers

- Change instance type</br>
  - `--worker-type`</br>
  Specify a worker **type** for AWS (m5 or m4) (default: "m4") `[$WORKER_TYPE]` (see comparison table below). **Note: this is an AWS-specific option**

    > AWS does not offer m5 instances in all regions, and even for regions that do offer m5 instances, not all zones within that region may offer them. To complicate matters further, each AWS account is assigned AWS zones at random - for instance, `eu-west-1a` for one account may be the same as `eu-west-1b` in another account. If m5s are available in your chosen region but _not_ the zone Control Tower has chosen, create a new deployment, this time specifying another `--zone`.

- Scale horizontally<br>
  - `--workers value`</br>
    Choose the **number** of Concourse workers to deploy (default: 1) `[$WORKERS]`.</br>
    For example:

    ```sh
    $ control-tower deploy --workers 2 <deployment-name>
    ```

- Scale vertically</br>
  - `--worker-size value`</br>
    Choose the **size** of Concourse workers to deploy.</br>
    Can be medium, large, xlarge, 2xlarge, 4xlarge, 10xlarge, 12xlarge, 16xlarge or 24xlarge depending on the worker-type (see above) (default: "xlarge") `[$WORKER_SIZE]`.</br>
    For example:

    ```sh
    $ control-tower deploy --worker-size large <deployment-name>
    ```
- Instance type reference table:</br>

    | --worker-size | AWS m4 Instance type | AWS m5 Instance type* | GCP Instance type |
    |---------------|----------------------|-----------------------|-------------------|
    | medium        | t2.medium            | t2.medium             | n1-standard-1     |
    | large         | m4.large             | m5.large              | n1-standard-2     |
    | xlarge        | m4.xlarge            | m5.xlarge             | n1-standard-4     |
    | 2xlarge       | m4.2xlarge           | m5.2xlarge            | n1-standard-8     |
    | 4xlarge       | m4.4xlarge           | m5.4xlarge            | n1-standard-16    |
    | 10xlarge      | m4.10xlarge          |                       | n1-standard-32    |
    | 12xlarge      |                      | m5.12xlarge           |                   |
    | 16xlarge      | m4.16xlarge          |                       | n1-standard-64    |
    | 24xlarge      |                      | m5.24xlarge           |                   |

    \* _m5 instances not available in all regions and all zones. See `--worker-type` for more info._


##<a id='Scaling Web Node'></a>Scaling Web Node

- Scale vertically</br>

  - `--web-size value`</br>
  Choose the size of the Concourse web node. Can be small, medium, large, xlarge, 2xlarge (default: "small") `[$WEB_SIZE]`.</br>
  For example:

```sh
$ control-tower deploy --web-size medium <deployment-name>
```

- Instance type reference table:</br>

| --web-size | AWS Instance type | GCP Instance type |
|------------|-------------------|-------------------|
| small      | t2.small          | n1-standard-1     |
| medium     | t2.medium         | n1-standard-2     |
| large      | t2.large          | n1-standard-4     |
| xlarge     | t2.xlarge         | n1-standard-8     |
| 2xlarge    | t2.2xlarge        | n1-standard-16    |


##<a id='Scaling the Database'></a>Scaling the Database

  - `--db-size value`</br>
Scale the database vertically by choosing the size of Concourse Postgres instance. Can be small, medium, large, xlarge, 2xlarge, or 4xlarge (default: "small") `[$DB_SIZE]`.</br>
For example:

```sh
$ control-tower deploy --db-size medium <deployment-name>
```

  > Note that when changing the database size on an existing Control Tower deployment, the SQL instance will scaled by terraform resulting in approximately 3 minutes of downtime.<br>

- Database size reference table:</br>

| --db-size | AWS Instance type | GCP Instance type  |
|-----------|-------------------|--------------------|
| small     | db.t2.small       | db-g1-small        |
| medium    | db.t2.medium      | db-custom-2-4096   |
| large     | db.m4.large       | db-custom-2-8192   |
| xlarge    | db.m4.xlarge      | db-custom-4-16384  |
| 2xlarge   | db.m4.2xlarge     | db-custom-8-32768  |
| 4xlarge   | db.m4.4xlarge     | db-custom-16-65536 |
