---
title: Installing and Configuring Control Tower for Concourse
owner: Partners
---


<strong><%= modified_date %></strong>

This topic describes how to install and configure Control Tower for Concourse.

##<a id='install'></a> Install and Configure Control Tower for Concourse

To install the Control Tower for Concourse, do the following:

1. Download the binary file from Pivotal Network.

2. Install it into your `PATH`.

3. You can choose to rename the file at your convenience.</br>
<b>Note:</b> The name of the file you choose will be the same as the command ran against your deployments. For example:

```sh
$ control-tower deploy --iaas gcp <deployment-name>
```
if the binary is renamed `control-tower`, or</br>

```sh
$ ctwr deploy --iaas aws <deployment-name>
```
if the the binary is renamed `ctwr`, etc...


4.Ensure correct local dependencies for bootstrapping a [BOSH VM](https://bosh.io/docs/cli-v2-install/#additional-dependencies).

##<a id='credentials'></a> Configure Credentials
Use long lived credentials, and not temporary security credentials.

- **AWS (one of the following):**<br>
  - Environment variables `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.<br>
  - Credentials configured via `aws configure`, for example `[default]` profile in `~/.aws/credentials`.<br>
- **GCP:**<br>
  - `GOOGLE_APPLICATION_CREDENTIALS_CONTENTS` environment variables set to the path to a GCP credentials json file.
