---
title: Release Notes for Control Tower for Concourse
owner: Partners
---

<strong><%= modified_date %></strong>

These are release notes for Control Tower for Concourse.

##<a id="ver"></a> v0.2.0

**Release Date:** 14/03/2019

Features included in this release:

* Concourse 5.0 Support
* IaaS selection is now mandatory

Fixed issues in this release:

* A bug which prevented workers in a GCP deployment from reaching Credhub or the UAA
